<ion-content padding class="bg">
    <div style="margin-top: 30px">
        <ion-row>
            <ion-col>
                <h4 style="text-align: center; margin-bottom: 20px">
                    Silahkan Log In
                </h4>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label position="floating">
                        Username
                    </ion-label>
                    <ion-input type="text"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">
                        Password
                    </ion-label>
                    <ion-input type="password"></ion-input>
                </ion-item>

                <ion-button style="margin-top: 15px" expand="block">
                    Log In
                </ion-button>

            </ion-col>
        </ion-row>
    </div>

    <div style="margin-top: 40px; text-align: center">
        <a routerLink="/home" routerDirection="back" style="text-decoration: none;">
            Kembali ke Home
        </a>
    </div>
</ion-content>