<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>Products List</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-list-header>
            Kategori 001
        </ion-list-header>

        <ion-item>
            <ion-avatar slot="start">
                <img src="/assets/images/color_bg.jpg">
            </ion-avatar>
            <ion-label>
                <h2>
                    Laptop Asus A455 LF
                </h2>
                <h3>Rp 5.300.000,-</h3>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit...
                </p>
            </ion-label>
        </ion-item>


        <ion-item>
            <ion-avatar slot="start">
                <img src="/assets/images/color_bg.jpg">
            </ion-avatar>
            <ion-label>
                <h2>
                    Dell Inspiron 5
                </h2>
                <h3>Rp 4.300.000,-</h3>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit...
                </p>
            </ion-label>
        </ion-item>


        <ion-item>
            <ion-avatar slot="start">
                <img src="/assets/images/color_bg.jpg">
            </ion-avatar>
            <ion-label>
                <h2>
                    Macbook Pro 11
                </h2>
                <h3>Rp 23.000.000,-</h3>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit...
                </p>
            </ion-label>
        </ion-item>
    </ion-list>

    <ion-list>
        <ion-list-header>
            Kategori 002
        </ion-list-header>

        <ion-item>
            <ion-avatar slot="start">
                <img src="/assets/images/color_bg.jpg">
            </ion-avatar>
            <ion-label>
                <h2>
                    iPhone 10
                </h2>
                <h3>Rp 20.000.000,-</h3>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit...
                </p>
            </ion-label>
        </ion-item>


        <ion-item>
            <ion-avatar slot="start">
                <img src="/assets/images/color_bg.jpg">
            </ion-avatar>
            <ion-label>
                <h2>
                    iPhone 11
                </h2>
                <h3>Rp 14.000.000,-</h3>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit...
                </p>
            </ion-label>
        </ion-item>


        <ion-item>
            <ion-avatar slot="start">
                <img src="/assets/images/color_bg.jpg">
            </ion-avatar>
            <ion-label>
                <h2>
                    Realme 5 Pro
                </h2>
                <h3>Rp 5.300.000,-</h3>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit...
                </p>
            </ion-label>
        </ion-item>
    </ion-list>


</ion-content>